
#pofather {
    border:springgreen solid 2px;
    float:left; 
    width:50%;
    float:left;
    margin-left: 50px;
    /* display: inline; */
}

#pobox {
    border:blanchedalmond solid 1px;
    height:300px;
    width: 600px;
}

#pobox img {
    max-width: 250px;
    /* position:relative; */
}

#pobox .lpic {
    border:springgreen solid 1px;
    height:200px;
    width:250px;
    float:left;
    position: relative;
    top:30px;
    left:30px;
}

#pobox .rpic {
    border:springgreen solid 1px;
    height:200px;
    width:250px;
    float:right;
    position: relative;
    top:30px;
    right:30px;
}

#posts {
    border:springgreen solid 3px; 
}

