p {
    color: rgba(206, 206, 206, 0.685);
}

.TitleArea {
    background: url(pexels-photo-3274903-cut.jpg) no-repeat center ;
    height: 500px;
}

body {background-color: #0b0b13f8}

.TitleText {
    text-align: center;
    color:white ;
    font-size: 80px ;
    position: relative;
    top: 45%;
}

.menu {
    word-spacing: 40px;
    color: rgba(206, 206, 206, 0.685);
    display:inline;
}

.menu:hover {
    color:blueviolet
}

#inline{
    text-align: center;
    display: inline;
}

.center {    text-align: center;  }

