p {    color: rgba(206, 206, 206, 0.685); }   

.TitleArea {
    background: url(./pic/pexels-photo-3274903-cut.jpg) no-repeat center ;
    height: 500px;
}

body {background-color: #0b0b13f8}

/* #header { text-align: center;} */

.TitleText {
    text-align: center;
    color:white ;
    font-size: 80px ;
    position: relative;
    top: 45%;
}

#header .menu {
    word-spacing: 40px;
    color: rgba(206, 206, 206, 0.685);
    text-align: center;
    position:relative ;
    top : -45px ; 
}

#header .menu h3 {
    display:inline ;
    font-size: 23px;
    color: rgba(206, 206, 206, 0.685);
}

#header .menu h3:hover {
    /* color:blueviolet */
    color: lightcyan ;
}

#posts {
    /* border: blanchedalmond solid 1px;  */
    width:60%;
    float:left;
    margin-left: 50px;
}

.post {
    padding:10px;
    height:200px;
    border:1px solid blanchedalmond;
    margin-top: 20px;
}

.post p {
    width:400px;
    padding: 20px;
    float:left;
}

#posts img {
    max-width: 300px; 
    float:left;
}

#lists {
    width:20%;
    height:400px;
    /* border:solid white 2px; */
    position: -webkit-sticky;
    position:sticky;
    margin-left:75%;
    top:10px;
    opacity: 0.7;

    /* float:left; */
    /* right:50px; */
    }

.list_title{
    background-color:rgb(177, 83, 59);
    font-weight: bold;
    text-align: center;
}

.list {
    background-color: rgb(194, 194, 194);
    padding-left: 20px;
    height:30px;
}

.list:hover{
    background-color: rgba(255, 255, 255, 0.664);
}

.center {    text-align: center;  }


#inline {
    text-align: center;
    display: inline;
}

/* .footer {clear:both;} */

