body {
  padding: 0;
  margin: 0;
  background-color: #cccccc;
}

#header {
  padding: 0;
  /* position: -webkit-sticky;
  position: sticky;
  top: 20px; */
}

#header .banner {
  text-align: center;
  height: 180px;
}

#header .banner img {
  width: 100%;
  height: 100px;
}

#header .banner h3 {
  width: 100%;
  height: 50px;
  margin: 0;
  position: relative;
  top: -60px;
  left: 0px;
}

.logo {
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  width: 15%;
  height: 60px;
  float: left;
  margin: 0 0 0 30px;
}

.logo h1 {
  padding: 0;
  margin: 0;
}

.logo h3 {
  padding: 0;
  margin: 0;
}

.navbar {
  float: left;
  width: 80%;
  height: 60px;
  text-align: right;
}

.navbar span {
  position: relative;
  top: 30px;
}

.navbar span a {
  margin: 30px;
  font-size: 2em;
}

#main {
  /* clear: both; */
  margin: 0 30px;
  padding: 0 30px;
}

.posts {
  float: left;
  width: 60%;
  
  margin: 0px 30px;
  padding: 0px 20px;
}

.post{
   margin: 10px;
   padding: 10px;
   height: 180px;
   border: #8a8989 1px solid;
}

.postImg {
  max-width: 200px;
  max-height: 200px;
  float: left;
}
.postData{
   margin:  0 10px;
   padding: 0;
   float: left;
   width: 430px;
}
.meta{
   padding: 0;
   margin: 5px;
   color: #e79f9f;
}
.postTitle{
   padding: 0;
   margin: 10px;
}
.postContent{
   padding: 0;
   margin: 0;
}

.list {
  float: left;
  width: 20%;
  margin: 0;
  padding: 0;

  /* position: -webkit-sticky;
  position: sticky;
  top: 20px; */
}

.listTitle{
   margin: 0;
   padding: 0;
   font-size: 1em;
   color: #005153;
}

.dashHr{
   border: 1px dashed;
}

#footer {
  clear: both;
}

.copyright {
  position: relative;
  bottom: 0;
  text-align: center;
}
/* p{
   color: #00FF00; 
   display: inline;
}

h4{
   display: inline;
}

.textCenter{
   text-align: center;
}

#p2{
   color:blue;
}

.aRight{
   text-align: right;
}

.inline{
   display:inline;
}



.redText{
   color:red;
} */

.postContentEdit{
  width: 200px;
  height: 100px;
}