body{
    background-color:rgb(241, 241, 228);
     }

.aRight{
        text-align: right;
     }
.textcenter{
    text-align: center;
}
.class1{
    display:inline;
    color#000

}
.class2{
    display:inline;
    color:rgb(42, 112, 80)
}
.class3{
    text-align: center;
    color:rgb(163, 161, 161)
}
.class4{
    display:inline;
    word-spacing: 30px;
    color:rgb(163, 161, 161)
}
.line1{
    border: 1px solid;
    color:black
}