
body{
    /* background: color rgb(255, 255, 255); */
    margin: 25px 50px 25px 50px;
     }

#header {
    padding: 0;
    margin: 0;
     /* position: -webkit-sticky;
    position: sticky;
    top: 20px; */
    }
/* #header .bannerbg{
    background-image:url("images/banner.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 200px;

ã€€} */

.Blogtitle{
    text-align: center;
}

#main {
    margin: 0;
    padding: 0;
    background-color: rgb(83, 38, 38);
}

.posts {
    background-color: rgb(255, 255, 255);
    float: left;
    width: 60%;
    /* margin: 10px 30px;
    padding: 10px 20px; */
  }
.post{
    text-align: center;
    }

.Lists {
    background-color: rgb(255, 255, 255);
    float: right;
    width: 20%;
    /* margin: 10px 30px;
    padding: 10px 20px; */
}
.About{
    text-align: center;
    color:rgb(163, 161, 161) 
}

.aRight{
    text-align: right;
     }


.inline{
    display:inline;
    }
.class1{ 
    display:inline;
    color:rgb(21, 32, 21);
    font-size: 3em;
}
.class2{
    display:inline;
    color:rgb(37, 146, 97);
    font-size: 3em;
}

.class3{
    text-align: center;
    color:rgb(163, 161, 161)
}

.navbar div {
    width: 100%;
    height: 20px;
    position: relative center;
    text-align: center;
}

.navbar div a{
    font-size: 1.2em;
    word-spacing:50px; 
    text-align: center;
    color:rgb(163, 161, 161)
}

.postTitle{
    font-size: 2em;
    text-align: center;
    color:rgb(64, 78, 64);
}

/* .line1{
    border: 1px solid;
    color:black
} */