body{
    background-color:rgb(241, 241, 228);
     }

.aRight{
        text-align: right;
     }
.textcenter{
    text-align: center;
}
.inline{
    display:inline;
 }
.class1{
    display:inline;
    color:rgb(3, 41, 2)k
}
.class2{
    display:inline;
    color:rgb(37, 146, 97)
}
.class3{
    text-align: center;
    color:rgb(163, 161, 161)
}
.class4{
    display:inline;
    word-spacing: 30px;
    color:rgb(163, 161, 161)
}
.line1{
    border: 1px solid;
    color:black
}