* {margin:0; padding:0;}
/* .bg_test {background-color:cadetblue;} */

/* .half_bg_r {background-color:red; width:50%; float: right; position:relative;} */
/* .half_bg_l {background-color:lightslategray; width:50%; height:100%; float: left;} */

/* .carousel_2 {border:3px solid black;
            position:absolute;
            right: 350px;} */



.top_ground {background: linear-gradient(to right, white 45%, lightblue 45% );
            position:relative;
            height:600px;}

.container_2 {width:60%;
                position:absolute;
                right:0%;
                bottom:20%;
                z-index:2;}


.text_span {width:260px;
            position:absolute; bottom:25%;left:25%; }

.extra_pic {position:absolute;
            bottom:10%;
            width:25%;
            right:0%;
            z-index:1; }

.about_us_btn {position:absolute;
               bottom:10px;
               left:-50%;
               width:90px; height:35px;
               background:black;
               border:black;
               color:lightgray;
               border-radius: 0%;}

.big_box {
    width: 450px; height: 500px;
    background-color: black;
}

.big_box p {color:red; float:right;}

.discolored_box {
    width:20vh ; height:20vh;
    background:linear-gradient(135deg,  white 50%, gray 50%);
}


.small_box{
    width:20vw; height: 20vh;
    background-color:chocolate;
    background:linear-gradient(to top, lime 5%,red 60%, white 100%);
}

.franch_flag {
    width:20vw ; height:20vh;
    background-image: linear-gradient(to right, blue 33%,white 33% 66%,red 66%);
}